<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/main.css" rel="stylesheet" rev="stylesheet">
    <link rel="stylesheet" href="styles/footer.css" rev="stylesheet">
    <title>Olaprime Blog</title>
</head>
<body>
    <header>
        <ul class="navbar left"><li>Home</li><li><img class="imglogo" height="40px" src="imagee/olaprime-logo.png"/></li></ul>
    </header>
    <div class="main  container">
        <H1>Welcome To Olaprime Blog</H1>
        <!--- show all the blog post here-->

        <form action="submit" method="post">
            <p><label for="blog-post"></label>
            <textarea name="blog-post" cols="30" role=
            "" rows="10" placeholder="Please enter your blog post here"></textarea></p>
        
            <input type="submit" name="sub" value="POST">
        </form>
    </div>
    <footer>
        <div class="container">
            <p>Olaprime copyrigt <%= new Date().getFullYear(); %></p>
        </div>
    </footer>
</body>
</html>