<%- include("partials/header.ejs") %>
        <H1>Welcome To Olaprime Blog</H1>
        <!--- show all the blog post here-->

        <form action="submit" method="post">
            <p><label for="blog-post"></label>
            <textarea name="blog-post" cols="30" role=
            "" rows="10" placeholder="Please enter your blog post here"></textarea></p>
        
            <input type="submit" name="sub" value="POST">
            <a href="/view_post">view Blog post</a>
        </form> 
    
        <%- include("partials/footer.ejs"); %>