footer{
    width: 100%;
    position: absolute;
    right: 0px;
    margin-left: 0px;
    margin: auto 0px;
    bottom: 0px;
}
footer .container{
    position: relative;
    width: 100%;
    display: flex;
}