
html{
font-size: large;
font-family: 'Courier New', Courier, monospace;
}
body{
    margin:0px;
    width: 100%;
    background-color: aquamarine;

}
.main{
    margin-top: 80px;
}
header{
    height: 80px;
    border: 0px 0px;
    background: #009900;
    margin: 0px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    
}
header ul{
    display: block;
    list-style: none;
    width: 100%;
    padding: 0px;
    height: 90px;
}
header ul li{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    text-align: center;
    margin: auto 0px;
    padding: 2em;

}

.main{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 90px;
}
@media(max-width:200px){
    .main{
        width: 200px;

    }
}
h1{
    font-size: 2em;
}
p{
    overflow: hidden;
    font-weight: bold;
    text-wrap: no-wrap;
}